# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Build output
# =========================
dist/
build/
coverage/
**/dist/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# TypeScript cache
# =========================
*.tsbuildinfo

# =========================
# Temporary files
# =========================
tmp/
temp/